# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/

# Distribución / empaquetado
build/
dist/
*.egg-info/

# Archivos de logs
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv / Poetry
Pipfile.lock
poetry.lock
